body {
    background-image: url("../Images/black-textured-background-seamless.jpg") !important;
}

* {
    color: #ddd !important;
}

table.hebrewtextverses, td.hebrewtextverses, td.citationverses {
	border-color: #222 !important;
}
