body {
    background-image: url("../Images/black-textured-background-seamless.jpg") !important;
}

* {
    color: #ccc !important;
}

table.hebrewtextverses, td.hebrewtextverses, td.citationverses {
    border-color: #262626 !important;
}

.citation, .citationverses * {
    color: #777 !important;
}